@import url('https://fonts.googleapis.com');
headings {
    font-weight: 700;}
body {
    font-weight: 400;}
label/button {
        font-weight: 500;

    }
html { 
    font: size 18px; }
   
   

body {
    font-family: "Segoe UI", "Roboto", Arial, sans-serif;
    text-align: center;}
    h1 {text-align: left;}



.selection {    
    display: inline-block;
    width: 350px;
    height: 200;
    padding: 10px;
    border-radius: 5px;
    background-color: #abd1c2;
   

}
 
#selection1 {
    font-family: "Segoe UI", "Roboto", Arial, sans-serif;
}
#selection2 {
    font-family :'Times New Roman', Times, serif
}
#selection3 {
    font-family: 'Courier New', Courier, monospace;

}

.card {
    display: inline-block;
    width: 525px;
    height: 200;
    padding: 10px;
    border-radius: 5px;
    background-color:#f4e4e4;
}

.px-version {
    font-size: 20px
}

.rem-version {
    font-size: 1.5rem
}
.pricing-card {
    width: 200px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    background-color: beige
}
.badge {
    font-weight: 500;
    text-transform: uppercase;
    background-color: #f0c040;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;}

.plan {
    font-weight: 700;
    margin-bottom: 10px;
}
.price {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 10px;
}
.features {
    font-weight: 400;
    list-style: none;
    padding: 0;
    margin: 5px 0;
}
.bonusbadge {
    font-weight: 700;
    text-transform: uppercase;
    background-color: #f0c040;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;}

.bonus {
    font-weight: 400;
    list-style: none;
    padding: 0;
    margin: 5px 0;}

fieldset {
    border-radius: 10px;
    border: none;
}




.line1 {
    line-height: 1;
    display: inline-block;
    width: 350px;
    height: 200;
    padding: 10px;
    border-radius: 5px;
    background-color: #bccfea;
   
   
}
.line2 {
    line-height: 1.4;
    display: inline-block;
    width: 350px;
    height: 200;
    padding: 10px;
    border-radius: 5px;
    background-color: #bccfea;
 ;
}
.line3 {
    line-height: 1.8;
    display: inline-block;
    width: 350px;
    height: 200;
    padding: 10px;
    border-radius: 5px;
    background-color: #bccfea;

   
}
.label {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;

}
.container {
    width: 525px;
    height: 200;
    padding: 10px;
    border-radius: 5px;
    background-color:#c6e6ec;
    margin: auto;
    text-align: justify;
    
}
.button {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.heading {
    letter-spacing: -0.5px; /* small negative */

}
.paragraph {
    word-spacing: 2px; /*small increase*/
}
.shadow {
   
    border-radius: 12px;
   display: flex;
   flex-direction: column;
    margin: auto;
    height: 150px;
    max-width: 900px;
}


.shadow .hero-title {
    font-size: 30px;
    color: #3a3a3a;
    text-align:center;
   
}
.hero-good {
    background-color: #e6f0ff;
    height: 70px;
    max-width: 900px;
    border-radius: 12px;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
   padding-left: 50px ;
   padding-top: 5px;
   justify-content: center;
}


.hero-bad {
    background-color: #ffe6f0;
    height: 70px;
    max-width: 900px;
    border-radius: 12px;
    text-shadow:
        3px 3px 0 #ff4d6d,
        -3px -3px 0 #ffd166;
 padding-left: 50px;
   padding-top: 5px;
   
}

.button-group {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto}
.primary {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
   
}
.primary:hover {
    background-color: red;
}
.primary:focus {
    background-color: yellow;}
.primary:active {
    background-color: green;
}
.secondary {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
   

}
.secondary:hover {
    background-color: blue;
}
.secondary:focus {
    background-color: yellow;
}
.secondary:active {
    background-color: red
}
.danger {
    background-color:red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    

}
.danger:hover {
    background-color: blue;
}
.danger:focus {
    background-color: yellow;
}
.danger:active {
    background-color: green;
}
.links {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 900px;
    height: 200;
    padding: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    background-color:rgb(189, 222, 242);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto
}
a:link {
    color: blue;
    text-decoration: none;
    
}
a:visited {
    color: purple;
}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
    color: green;
    text-decoration: underline;
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2563eb;
    color: white !important;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto}

.button-link:hover {
    background-color: red;
}
.button-link:active {
    background-color: yellow;

}
.button-link:focus {
    background-color: green;
}
.pseudoelement {
    width: 900px;
    height: 200;
    padding: 10px;
    border-radius: 5px;
    background-color:#ecc6e4;
    font-size: 20px;
    margin: auto}

.pseudoelement::first-letter {
    font-size: 40px !important;
    text-shadow: #3a3a3a;
}
.pseudoelement::first-line {
   font-style: italic !important;
   text-decoration: underline;
    text-shadow: #3a3a3a;
    
}
.todo {
    max-width: 420px;
    margin: 40px auto;
    padding: 25px;
    background: #f4f7ff;
    border-radius: 12px;
    
}

.todo h2 {
    margin-bottom: 15px;
    color: #444;
}

.task {
    display: flex;
    align-items: center;
    margin: 12px 0;
}


.task input {
    margin-right: 12px;
}

.task label {
    font-size: 18px;
    color: #333;
     
}

.task input:checked + label {
    text-decoration: line-through;
    color: #9aa3b2;
    opacity: 0.7;
}
