/*style background color*/
body {
    background-color: black;
    color: white;
    font-family: Helvetica;
    font-size: 16px;
}
/* style all paragraphs*/
p {
    color: greenyellow;
    font-size: 18px;
}
/*style all elements with class "notes"*/
.notes { 
    color: blue;} 

/*style element with id "main-title"*/
#main-title {
    color: red;
}
/*styles span elements only when it is inside paragraphs*/
p span { 
    font-style: italic;
    color:yellow;
}
/*style li only inside class "menu"*/
.menu li { 
    list-style-type: tick;
    color: palevioletred
}
p {
    color: hotpink
}
.heading {
    color:blue
}
#heading {
    color: green;}

.square {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
}
.named {
    background-color:red;
}
.hex {
    background-color: #d81daf;
}
.rgb {
    background-color: rgb(44,204, 113);

}
.rgba {
    background-color: rgba(149, 160, 243, 0.6);
}
.hsl {
    background-color:  hsl(39, 100%, 50%);
}
.hsla {
    background-color: hsla(182, 84%, 75%, 0.5);
}